body{
    background-color:#106E90;
    margin:20px auto;
}

.block {
    text-align: center;
    vertical-align: middle;
    margin-top:-200px;
}
.innerCircle{
    padding:20px;
}
.circle {
    background: #5A9EB5;
    border-radius: 200px;
    color: white;
    height: 200px;
    font-weight: bold;
    width: 200px;
    display: table;
    margin: 10px auto;
    border:10px solid white;
}
.circle p {
    vertical-align: middle;
    display: table-cell;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.no-gutter{
    height:300px;
    background-color:white;
    border:1px solid  #5A9EB5;
    border-radius:0px 0px 0px 90%;
    box-shadow:0px 35px 20px  #0A475C;
    text-align:center;
    padding:45px;
}
.table-responsive{
    margin-top:15%;
    color:white;
    border:2px solid white;
    padding:0px;
    overflow:hidden;
}
.table-responsive td{
    border:2px solid white;
}
.list{
    color:white;
    margin-top:20px;
}
.list-group-item{
    background-color:#0A4F67; 
    border-style:none;
    width:50%;
    margin:auto;
}
.list-group a{
    color:white;
}
.circleDiv {
    width:10px;
    height:10px;
    border-radius:50%;
    background-color:white;
    display: inline-block;
    margin-right:10px;
}

.socicons{
    margin: 34px 0px 0px 0px;
    text-align:right;
}
.socicons img{
    display: inline-block;
}

@media(max-width:390px){
    .table-responsive tr{
        width:20%;
    }

}

a:link{
    color:white;
}
a:hover {
    color: #ACADB0;
}
